# To add a codeowner, add an entry according to the following format:
# path/to/directory @GitHubUser OR user@email.com

# Default owner for everything in the repo. Will always be requested for reviews on pull requests
# unless a later match takes precedence.
*                                   @stevenlagoy

# Quality and Release
/.github/workflows/                 @AidanMayo
/server/**/*_test.go                @AidanMayo

# Protocol
/proto/                             @jonehayd

# Game clients
/games/chess/compiled_client/       @JacobHeffelmire @AidanMayo
/games/chess/interpreted_client/    @jonehayd @stevenlagoy
/games/gofish/web_client/           @stevenlagoy @AidanMayo
/games/gofish/systems_client/       @jonehayd @JacobHeffelmire
